[Unit]
Description=Heka service
Requires=docker.service
After=docker.service

[Service]
Restart=always
TimeoutStartSec=0

EnvironmentFile=/etc/environment
EnvironmentFile=/etc/skydns.env

ExecStartPre=/usr/bin/docker pull ecnahc515/heka:coreos

ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i

ExecStart=/usr/bin/docker run \
    --name %p-%i \
    -e "SERVICE_ID=%p-%i" \
    -e "ES_SERVER=http://elasticsearch-9200.${SKYDNS_DOMAIN}:9200" \
    -e "ES_CONNECT_TIMEOUT=3000" \
    -e "ES_USE_BUFFERING=false" \
    -e "ES_MAX_BUFFER_SIZE=0"  \
    -e "ES_BUFFER_FULL_ACTION=drop" \
    -e "ES_FLUSH_COUNT=50" \
    -e "ES_FLUSH_INTERVAL=1000" \
    --publish 4352:4352 \
    --publish 8888:8888 \
    ecnahc515/heka:coreos

ExecStop=/usr/bin/docker stop %p-%i

[X-Fleet]
Conflicts=%p@*.service
