[Unit]
Description=Kibana service
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=0

EnvironmentFile=/etc/environment
EnvironmentFile=/etc/skydns.env

ExecStartPre=/usr/bin/docker pull arcus/kibana

ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i

ExecStart=/bin/bash -c '\
  /usr/bin/docker run \
    --name %p-%i \
    -e "SERVICE_ID=%p-%i" \
    -e "ES_HOST=${COREOS_PUBLIC_IPV4}" \
    --publish 8080:80 \
    arcus/kibana'

ExecStop=/usr/bin/docker stop %p-%i

[X-Fleet]
Conflicts=%p@*.service
MachineOf=elasticsearch@%i.service
